@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

/* Layout--------------------------------------------------------------------*/
body {
    margin: auto;
    max-width: 1000px;
    padding: 30px 10px;
    _width: 940px;
    color: #333;
}

/*nav {
    position: fixed; */
/*    width: 160px; */
/*}*/

/* Typography ---------------------------------------------------------------*/
body {
    font-size: 1.1em;
    line-height: 1.5em;
}

/* Garmond for big titles, Georgia for little ones */
h1, h2, h3 {
    font-family: "EB Garamond", "Georgia", serif;
    font-weight: normal;
}
h4, h5, h6 {
    font-family: "Georgia", serif;
    font-weight: normal;
}
/* large striped tables */
/*table {
    width: 99.4%;
}
table tbody tr:nth-child(odd) td {
  background-color: #f8f8f8;
}*/

figure {
    text-align: center;
    padding-bottom: 20px;
}
figcaption {
    font-size: 1em;
}

/* Links --------------------------------------------------------------------*/
a:link {text-decoration: none;}
a:hover {text-decoration: underline;}


/* Header and top nav -------------------------------------------------------*/

#header {
    border-bottom: 1px solid #eee;
}

#header nav {
    list-style: none;
    padding-top: 1em;
    text-align: right;
}

#header nav ul li {
    display: inline;
    margin-left: 1em;
}

/* Aside --------------------------------------------------------------------*/

aside ul {
    list-style: none;
    margin: 0;
}

aside .asidebox {
    padding-bottom: 2em;
}

/* Article ------------------------------------------------------------------*/

article header {
    padding-bottom: 2em;
}
